/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/************************************************************/

/* HTML BODY */
body,
html {
    height: 100%;
    margin: 0;
}

/************************************************************/

/* MAIN WEATHER BACKGROUND IMAGE CONTAINER */
.container-fluid,
.bg-bluesky {
    /* IMAGE */
    background-image: url(./images/bluesky.jpeg);

    /* FULL HEIGHT */
    height: 100%;

    overflow: hidden;
    
    position: relative;

    /* CENTER & SCALE IMAGE */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
header {
    width: 100%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 130px;
    padding-top: 10px;
    border-bottom: 2px solid #ffffff;
}

/* LOGO CONTAINER */
.logo {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* BOXED LOGO WEATHER DASHBOARD */
.square {
    display: block;
    overflow: hidden;
    align-content: left;
    background-color: #ffffff;
    
    /* SQUARE BOX BORDER */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 3px solid #ffffff;
    border-radius: 0;
    
    /* WEATHER DASHBOARD TEXT */
    font-size: 20px;
    color: #99CCFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
    
    /* LOGO PADDING FOR WEATHER DASHBOARD TEXT FROM SQUARE */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/* MENU BAR ICON */
.top-right {
    position: relative;
}

.menu {
    position: absolute;
    top: 8px;
    right: 50px;
    font-size: xx-large;
}

/* ICON */
.material-icons {
    color: #ffffff;
}

/************************************************************/

/* BLUE SKY WEATHER CLOUD 1  */
.container-fluid .cloud1 {
    position: absolute;
    top: 60px;
    animation: cloudOne infinite 30s linear;
}

/* BLUE SKY WEATHER CLOUD 2  */
.container-fluid .cloud2 {
    position: absolute;
    top: -50px;
    animation: cloudTwo infinite 45s linear;
}

/* BLUE SKY WEATHER CLOUD 3  */
.container-fluid .cloud3 {
    position: absolute;
    top: 0px;
    animation: cloudThree infinite 20s linear;
}

/************************************************************/
.city {
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.dayStatus {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.time {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.temp {
    font-size: 150px;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

/************************************************************/
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#dateTempContainer {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ffffff;
}

#weekdayContainer {
    position: relative;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
}

.weekday {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#dateContainer {
    position: relative;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 50px;
}

.date {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.left {
    float: left;
}

#highTempContainer {
    position: relative;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
}

.highTemp {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#lowTempContainer {
    position: relative;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
}

.lowTemp {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.right {
    float: right;
}
/************************************************************/

.horizontal-scroll {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 30px 0;
}

.card {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 0 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.cardTitle {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}


/************************************************************/



/************************************************************/




/************************************************************/

/* ANIMATES CLOUD 1 */
@keyframes cloudOne {
    0%
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}

/* ANIMATES CLOUD 2 */
@keyframes cloudTwo {
    0%
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}

/* ANIMATES CLOUD 3 */
@keyframes cloudThree {
    0%
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}